* {
    BG:    #232a2eff;
    BGA:   #2d353bff;
    FG:    #d3c6aaff;
    FGA:   #9da9a0ff;
    BDR:   #a7c080ff;
    SEL:   #a7c080ff;
    UGT:   #cc241dff;
    IMG:   #83c092ff;
    OFF:   #7c6f64ff;
    ON:    #98971aff;
}
