* {
    BG:    #282828ff;
    BGA:   #504945ff;
    FG:    #ebdbb2ff;
    FGA:   #3c3836ff;
    BDR:   #d65d0eff;
    SEL:   #d65d0eff;
    UGT:   #cc241dff;
    IMG:   #d79921ff;
    OFF:   #7c6f64ff;
    ON:    #98971aff;
}
