[Unit]
Description=Powertop tunings

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/home/yuukarii/.config/bin/powertop-autotune.sh

[Install]
WantedBy=multi-user.target
